/* attributes */
.css .kw1 {
  color: #9d275f;
}
/* string values */
.css .st0,
.css .re4 {
  color: #8b1a1f;
}

/* hex colors */
.css .re0,
.css .re0 .nu0 {
  color: #8b1a1f;
}

/* known values */
.css .kw2 {
  color: #ae561d;
}

/* numbers (px etc) */
.css .nu0,
.css .re3 {
  color: #063ff4;
}

/* !important */
.css .kw3 {
  color: #ff221b;
}

/* comments */
.css .co1,
.css .co2,
.css .coMULTI {
  color: #267e3d; 
}

/* Sticky footer styles
-------------------------------------------------- */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
  margin-top: 50px;
}

#content {
  background:url(../images/background.png) #fff;
  background-color: #fff;
  border:1px solid #D9D9D9;
}
